[Unit]
Description=OSM Update Job
After=syslog.target network.target postgresql.service

[Service]
Type=simple
User=tilery
WorkingDirectory=/srv/tilery/tmp/imposm/diff
ExecStart=/usr/bin/imposm3 run -config /srv/tilery/imposm.conf
Environment=PGHOST=/var/run/postgresql/
Restart=always
RestartSec=5
SyslogIdentifier=imposm
StandardOutput=journal

[Install]
WantedBy=default.target
