[Unit]
Description=renderd
After=syslog.target network.target postgresql.service

[Service]
Type=simple
User=tilery
ExecStart=/usr/local/bin/renderd -f -c /srv/tilery/renderd.conf
Restart=always
RestartSec=5
SyslogIdentifier=renderd
StandardOutput=journal

[Install]
WantedBy=default.target
